{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %} 
{% block content %}
    {% include 'navbar.html' %}
    {% include 'supportform.html' %}
    <div class="d-m-1">
        <img src="{% static 'images\xxiss-carousel-holder-4.jpg' %}" alt="image of rv">
        <img src="{% static 'images\xxiss-carousel-holder-3.jpg' %}" alt="image of rv">
        <img src="{% static 'images\xxiss-carousel-holder-2.jpg' %}" alt="image of rv">
    </div>
    <div class="abt-specs-1">
        <a href="/specs">See More <i class="fa-solid fa-arrow-pointer pointer"></i></a>
        <a href="/specs">See More <i class="fa-solid fa-arrow-pointer pointer"></i></a>
        <a href="/specs">See More <i class="fa-solid fa-arrow-pointer pointer"></i></a>
    </div>
    <div class="d-m-2">
        <img src="{% static 'images\xxiss-carousel-holder-1.jpg' %}" alt="image of rv">
        <img src="{% static 'images\xxiss-carousel-holder-2.jpg' %}" alt="image of rv">
    </div>
    <div class="abt-specs-2">
        <a href="/specs">See More <i class="fa-solid fa-arrow-pointer pointer"></i></a>
        <a href="/specs">See More <i class="fa-solid fa-arrow-pointer pointer"></i></a>
    </div>
    <div class="about-us tf1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto perspiciatis provident laborum blanditiis ut laboriosam, quis mollitia quia. Ratione accusamus veniam nihil alias est voluptatibus, ducimus reiciendis minima nobis nisi deserunt rem laudantium nam obcaecati voluptas iusto deleniti suscipit eaque aliquam autem? Sit qui accusamus minima repellendus consequuntur veritatis placeat temporibus et minus totam facilis fugit pariatur rerum voluptatum, aspernatur, repudiandae ad in odit eius. Praesentium nesciunt consectetur, impedit suscipit recusandae soluta vero quibusdam perspi.</p>
    </div>
    <hr class="hr-just">
    <script type="module" src="{% static 'js/index.js' %}"></script>
    {% include 'footer.html' %}
{% endblock content %} 
