{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %} 
{% block content %}
    {% include 'navbar.html' %}
    {% include 'supportform.html' %}
    <div class="rtn-hm-wrapper-1">
        <a class="rm-txt-dec hi-link" href="/"><i class="fa-solid fa-arrow-left rtn-btn"></i></a>
    </div>
    <div>
        <h2 class="tf1 c-t">About Us - XXISS</h2>
    </div>
    <div class="about-us tf1">
        <p>Our goal is to be the best trailer manufacturer for our customers. We strive to achieve the best quality a the best value.</p>
    </div>
    <div class="d-m-1">
        <img src="{% static 'images\trail-img1.jpeg' %}" alt="image of rv">
        <img src="{% static 'images\trail-img2.jpeg' %}" alt="image of rv">
        <img src="{% static 'images\trail-img3.jpeg' %}" alt="image of rv">
    </div>
    <div class="d-m-2">
        <img src="{% static 'images\trail-img4.jpeg' %}" alt="image of rv">
        <img src="{% static 'images\trail-img5.jpeg' %}" alt="image of rv">
    </div>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    {% include 'footer.html' %}
{% endblock content %} 
