{% extends 'base.html' %}
{% load static %}

{% block title %}xxiss blog{% endblock title %}
    {% block content %}
    {% include 'navbar.html' %}
    <div class="e-s-2"></div>
    <div class="rtn-hm-wrapper-1">
        <a class="rm-txt-dec hi-link" href="/"><i class="fa-solid fa-arrow-left rtn-btn"></i></a>
    </div>
    <h2 class="tf1 c-t">Another day with xxiss</h2>
    <div class="p-1 tf1 grid-set">
        <div>
            <h2>On this day we had....</h2>
            <p>This was at the Woodpecker mud bag in White Springs, FL. We were glad we brought the two newest additions to our family : The Roamers. Something to you definitely need after a day at the mud bog is a good shower!</p>
            <p>- Daniel</p>
        </div>
        <div>
            <img class="blog-image-size-set" src="{% static 'images\xxiss-carousel-holder-4.jpg' %}" alt="just a test">
        </div>
    </div>
    <div class="p-2 odd-blg tf1 grid-set">
        <div>
            <img class="blog-image-size-set" src="{% static 'images\xxiss-carousel-holder-4.jpg' %}" alt="just a test">
        </div>
        <div>
            <h2>On this day we had....</h2>
            <p>Hey there, this is just example of the format that I will implemney to the blog page</p>
        </div>
    </div>
    <div class="p-3"></div>
    <!-- <div class="e-s-1"></div> -->
    {% include 'footer.html' %}
{% endblock %}