<!-- <footer class="home-footer">
    <div class="tf1 w-t">
        <h3>Get a Quote</h3>
        <p><a href="/">just an example</a></p>
        <p><a href="/">just an example</a></p>
        <p><a href="/">Just having fun</a></p>
    </div>
    <div class="tf1 w-t">
        <h3>Customer Support</h3>
        <p><a href="/">just an example</a></p>
        <p><a href="/">just an example</a></p>
        <p><a href="/">Just having fun</a></p>
    </div>
    <div class="tf1 w-t">
        <h3>Categories</h3>
        <p><a href="/">just an example</a></p>
        <p><a href="/">just an example</a></p>
        <p><a href="/">Just having fun</a></p>
    </div>
</footer> -->
<div class="p-c-r-d tf1">
    <p class="fp w-t">Direct Contact</p>
    <p class="fp w-t">Phone : 818.388.8618 | Email :  xxiss@3n.net </p>
    <p class="fp w-t">&#169 2022 XXISS ADVENTURES All rights reserved.</p>
</div>