{% load static %}
<nav class="main-nav">
    <div class="main-nav-ul">
        <div class="home-icon-img-container">
            <a href="/" class="home-icon-img"><img src="{% static 'images\xxisslogo-img.jpeg' %}" data-img="3" data-display="false" alt="test image" width="100" height="100" class="display-object"></a>
        </div>
        <div class="nav-list-items-container">
            <ul class="tf1">
                <li><a class="about" href="/about">About</a></li>
                <li><a class="all-pr" href="/all-products">Trailers</a></li>
                </li>
                <li><a class="byo-trailer" href="/build-your-own-trailer">B-Y-O Trailer</a></li>
                <li class="sprt">Support</li>
            </ul>
        </div>
        <!-- <img src="{% static 'images\xxiss-trailer-svg-1.jpg' %}" alt="trailer 1"> -->
    </div>
</nav>
