{% extends 'base.html' %}
{% load static %}

{% block title %}
{% for i in rvs %}
    {% if forloop.counter == 1 %}
        xxiss | specs for {{i}}
    {% endif %}
{% endfor %}
{% endblock title %} 

{% block content %}
    {% include 'navbar.html' %}
        {% if user|length == 0 %}
        <p class="lg-lo-dash tf1"><a class="direct-link" href="/customer-login-page">Signup | login</a></p>
        {% else %}
        <p class="lg-lo-dash tf1"><a class="direct-link" href="/customer-logout">Logout </a> | <a class="direct-link" href="/return-to-dash"> Dashboard</a></li></a></p>
        {% endif %}
        <div class="rtn-hm-wrapper">
            <a class="rm-txt-dec hi-link" href="/"><i class="fa-solid fa-arrow-left rtn-btn"></i></a>
        </div>
        {% for i in rvs %}
            {% if forloop.counter == 1 %}
                <h2 class="specs-item-d mf1">{{i}}</h2>
            {% endif %}
        {% endfor %}
        <div class="g-t-specs">
            <div class="g-t-m-s">
                <img src="{% static 'images\xxiss-carousel-holder-1.jpg' %}" alt="image of rv">
            </div>
            <div class="g-t-t-s">
                <p class="tf1 stf-p"><span class="m-b">The Interior : </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit facere porro minima cum iste quis nihil quibusdam magnam distinctio quas unde quia laboriosam labore ab placeat repudiandae eaque dolores perferendis omnis nemo praesentium fuga, cumque, voluptatem soluta. Omnis, fuga rem?</p>
                <br>
                <p class="tf1 stf-p"><span class="m-b">The Exterior : </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit facere porro minima cum iste quis nihil quibusdam magnam distinctio quas unde quia laboriosam labore ab placeat repudiandae eaque dolores perferendis omnis nemo praesentium fuga, cumque, voluptatem soluta. Omnis, fuga rem?</p>
            </div>
        </div>
        <div class="tf1">
            <table>
                <tr class="t-h">
                    <td>Dry Weight</td>
                    <td>Tongue Weight</td>
                    <td>Overall Length</td>
                    <td>Overall Width</td>
                    <td>Exterior Height</td>
                    <td>Interior Height</td>
                </tr>
                <tr class="t-b">
                    <td>3</td>
                    <td>✔️</td>
                    <td>$350</td>
                    <td>30x15x15</td>
                    <td>Overall Width</td>
                    <td>Overall Width</td>
                </tr>
            </table>
        </div>
        <div class="tf1">
            <table>
                <tr class="t-h">
                    <td>GVWR*</td>
                    <td>Fresh Water</td>
                    <td>Grey Water</td>
                    <td>Black Water</td>
                </tr>
                <tr class="t-b">
                    <td class="">4,000 to 4,200 lbs.</td>
                    <td>19-20 gal.</td>
                    <td>25-30 gal.</td>
                    <td>9 gal.</td>
                </tr>
                <div class="b-w-i-container">
                    <img class="b-w-i" src="{% static 'images\text-trans.png' %}" alt="xxiss transparent text">
                </div>
            </table>
        </div>
        <hr class="hr-just">
        <h3 class="mf1">Floor Plan - <i>Standard Feature List</i></h3>
        <div class="flr-p">
            <div class="floor-plan-container">
                <img class="floor-plan-svg" src="{% static 'images\xxiss-floorplan-svg-1.jpg' %}" alt="image of floor plan">
            </div>
            <div>
                <ul class="tf1 stf-li">
                    <li>- Front storage 2-24” driver side/passenger Storage access doors</li>
                    <li>- Room for Large cooler or 12v refrigerator/ multiple batteries.</li>
                    <li>- 12V Main power shut off switch</li>
                    <hr class="feature-hr">
                    <li>- 1-Group 31 deep-cycle marine battery (Included).</li>
                    <li>- 12V NOCO Genius 10A Smart charger onboard 12V 12-way blade fuse block Shore power plugs 1-110V AC plug(included in Galley).</li>
                    <li>- Distribution box W/120A breaker Rear 40”x 48” galley side-opening door with locks (Black)</li>
                    <li>- Star gazer front wind (9'x 49')</li>
                    <hr class="feature-hr">
                    <li>- 2- 24”x 36” drivers side/passenger side Exterior</li>
                    <li>- Black Door with Key Lock &amp; Window w/Screen</li>
                    <li>- 2-15”x 24” Frame-less Windows with Screens</li>
                    <li>- Carry-on trailer</li>
                    <li>- 2000lb axle</li>
                    <li>- 2” ball hitch</li>
                    <li>- Straight Tongue</li>
                    <li>- 1450 lb. load capacity</li>
                    <hr class="feature-hr">
                    <li>- ST 205 / 75R 15", Radial Tires</li>
                    <li>- Black trailer frame with one front jack</li>
                    <li>- Diamond plate Steel Fenders</li>
                    <li>- LED D.O.T. trailer lights</li>
                    <li>- 2" Receiver with 5 Pin Flat Connector</li>
                </ul>
            </div>
            <div>
                <ul class="tf1 stf-li">
                    <li>- LED turn, brake and reverse lights</li>
                    <li>- LED Running Lights</li>
                    <li>- Deck 2”3/4” insulated Sealed with primer and Urethane Epoxy Resin. 1'1/2 insulation</li>
                    <li>- Internal Camper Frame : Wall studs 1”3/8 x '3/8 12 Layer Laminated sanded Plywood. 1'1/2 insulation</li>
                    <hr class="feature-hr">
                    <li>- 3 speed Crank Vent on the Roof</li>
                    <li>- 2 Switched Exterior LED Light Above the Door Outside Power Cord Attachment (Shore Power)
                        1”1/2” Insulated Floor ,ceiling and walls. Laminated Natural wood grain Manufactured Flooring. Floor, 3/4 walls Carpet ¼ wall and ceiling.</li>
                    <li>- Cabin 2 LED personal touch reading lights (Sleep Area)</li>
                    <hr class="feature-hr">
                    <li>- Cabin 4 LED switched Interior Lights (Sleep Area)</li>
                    <li>- Galley includes: 2 LED lights on switch, 12v cigarette lighter on switch, dual USB with voltmeter on switch, 1-110 volt AC outlet.</li>
                    <li>- Front wall and Rap around shelving in cabin Custom Coat Urethane Exterior (Color choice)</li>
                    <li>- 20” lifting jacks 1000lb load capacity ea. (used tolevel trailer when camping), Safety Chains & Jack Full Rear Galley with Storage and Shelves Bottom& middle galley shelf</li>
                </ul>
            </div>
            </div>
        </div>
        <script type="module" src="{% static 'js/index.js' %}"></script>
    {% include 'footer.html' %}
{% endblock content %} 